<h1>Menu</h1>

<hr>

<div class="button">
    <button> <a href="/cadastrarveiculo"> Cadastrar um Veiculo </a>  </button> 
    <button> <a href="/cadastrarveiculo"> Cadastrar Abastecimento </a>  </button> 
    <button> <a href="/cadastrarveiculo"> Cadastrar Despesas </a> </button> 
    <button> <a href="/cadastrarveiculo"> Calcular Consumo Médio de um Veículo </a>  </button>
    <button> <a href="/cadastrarveiculo"> Listar Veículos </a> </button>
    <button> <a href="/cadastrarveiculo"> Listar Abastecimentos </a> </button> 
    <button> <a href="/cadastrarveiculo"> Listar Despesas </a> </button>
    <button> <a href="/cadastrarveiculo"> Gerar Relatório Geral de um Veículo</a> </button>
    <button> <a href="/cadastrarveiculo"> Gerar Relatório por Categoria</a> </button>
</div>
    



